.readyReply {
    width: 100%;
    height: 70vh;
    position: relative;
    top: 500px;

    .profileGoogle {
        width: 40%;
        height: 200px;
        position: absolute;
        top: 90px;
        left: 480px;

        img {
            margin-left: 100px;
        }

        h1 {
            font-size: 58px;
            font-weight: 600;
            margin-top: -20px;
            color: $text_color;
            font-weight: 500;
        }
    }

    p {
        width: 54%;
        padding-top: 370px;
        margin-left: 310px;
        text-align: center;
        color: $text_color;
        font-size: 16px;
        line-height: 26px;
    }
}