@import "https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap";
* {
  margin: 0;
  padding: 0;
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
  box-sizing: border-box;
}

/* custom properties */
header {
  width: 100%;
  height: 65px;
  display: flex;
}
header .logoNav {
  width: 30%;
  height: 65px;
  display: flex;
}
header .logoNav ul {
  display: flex;
  margin-top: 25px;
}
header .logoNav ul li {
  list-style-type: none;
  margin-left: 15px;
}
header .logoNav ul li a {
  text-decoration: none;
}
header .logoNav ul li a img {
  width: 100px;
  height: 40px;
  margin-top: -4px;
}
header .logoNav ul li .Account {
  background: white;
  margin-bottom: 50px;
  top: 50px;
  margin-left: -20px;
  font-size: 20px;
  font-family: "Product Sans", Arial, Helvetica, sans-serif;
  color: #5f6368;
}
header .logoNav ul li .Overview {
  font-size: 14px;
  padding-top: 10px;
  margin-left: 30px;
  color: #000000;
  font-family: "Google Sans", Arial, Helvetica, sans-serif;
}
header .buttonDiv {
  width: 30%;
  height: 65px;
  margin-left: 635px;
  padding-top: 10px;
}
header .buttonDiv .Creat {
  width: 33%;
  height: 45px;
  margin-left: 50px;
  font-size: 16px;
  background-color: white;
  border: 0;
}
header .buttonDiv .Creat a {
  text-decoration: none;
  cursor: default;
}
header .buttonDiv .Creat:hover {
  background-color: rgba(23, 78, 166, 0.137254902);
}
header .buttonDiv .acces {
  width: 45%;
  height: 45px;
  margin-left: 15px;
  font-size: 16px;
  background-color: #1a73e8;
  border: 1px;
  border-radius: 3px;
}
header .buttonDiv .acces a {
  text-decoration: none;
  color: white;
}
header .buttonDiv .acces:hover {
  background-color: rgba(23, 78, 166, 0.9647058824);
}

.googleWorks {
  width: 100%;
  height: 85vh;
  display: flex;
}
.googleWorks .googleInfo {
  width: 40%;
  height: 85vh;
  color: #202124;
}
.googleWorks .googleInfo h1 {
  font-size: 62px;
  margin-top: 145px;
  padding-left: 70px;
  font-weight: 600;
}
.googleWorks .googleInfo p {
  padding-left: 70px;
  line-height: 25px;
  margin-top: 20px;
}
.googleWorks .googleProfile {
  width: 60%;
  height: 85vh;
}
.googleWorks .googleProfile #myVideo {
  height: 85vh;
  filter: 2px;
}

.mainBar {
  width: 100%;
  height: 48vh;
  margin-top: 3px;
  display: flex;
}
.mainBar h2, .mainBar .colorDiv, .mainBar .colorDi, .mainBar .colorD, .mainBar p {
  margin-left: 60px;
  margin-top: 10px;
}
.mainBar p {
  line-height: 25px;
}
.mainBar h2 {
  font-size: 25px;
  color: #202124;
  font-weight: 400;
  margin-top: 70px;
}
.mainBar .helpYou {
  width: 33.34%;
  height: 48vh;
  border: 1px solid #E0E0E0;
  background: rgba(208, 208, 208, 0.201);
  color: #202124;
}
.mainBar .helpYou .colorDiv {
  width: 35px;
  height: 5px;
  background: #027cff;
}
.mainBar .buildYou {
  width: 33.34%;
  height: 48vh;
  border: 1px solid #E0E0E0;
  background: rgba(208, 208, 208, 0.201);
  color: #202124;
}
.mainBar .buildYou .colorDi {
  width: 35px;
  height: 5px;
  background: yellow;
}
.mainBar .protectYou {
  width: 33.34%;
  height: 48vh;
  border: 1px solid #E0E0E0;
  background: rgba(208, 208, 208, 0.201);
  color: #202124;
}
.mainBar .protectYou .colorD {
  width: 35px;
  height: 5px;
  background: green;
}
.mainBar .protectYou .arrowDown {
  width: 60px;
  height: 60px;
  background: #027cff;
  border-radius: 40px;
  margin-top: -255px;
  margin-left: 360px;
  box-shadow: 3px 0px solid rgba(0, 0, 255, 0.216);
}
.mainBar .protectYou i {
  color: white;
  margin-top: 18px;
  margin-left: 16px;
  font-size: 27px;
}

.readyTo {
  width: 100%;
  height: 83vh;
  position: relative;
}
.readyTo .profileGoogle {
  width: 40%;
  height: 200px;
  position: absolute;
  top: 90px;
  left: 480px;
}
.readyTo .profileGoogle img {
  margin-left: 100px;
}
.readyTo .profileGoogle h1 {
  font-size: 58px;
  font-weight: 600;
  margin-top: -20px;
  color: #202124;
  font-weight: 500;
}
.readyTo p {
  width: 54%;
  padding-top: 370px;
  margin-left: 310px;
  text-align: center;
  color: #202124;
  font-size: 16px;
  line-height: 26px;
}

.sectionFour {
  width: 100%;
  height: 70px;
  position: relative;
}
.sectionFour .topSection {
  width: 95%;
  height: 50px;
  position: absolute;
  left: 30px;
  display: flex;
}
.sectionFour .topSection .divOne {
  width: 33.33%;
  height: 5px;
  background: rgba(128, 128, 128, 0.334);
  margin-top: 40px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
}
.sectionFour .topSection .divOne:focus {
  background: #3991df;
}
.sectionFour .topSection .divOne:focus:hover {
  color: #3991df;
}
.sectionFour .topSection .divOne p {
  margin-top: -40px;
  font-size: 16px;
  font-weight: 500;
}
.sectionFour .autoFill {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 60px;
  display: flex;
}
.sectionFour .autoFill .googleInfo {
  width: 38%;
  height: 70vh;
  color: #202124;
}
.sectionFour .autoFill .googleInfo p {
  padding-left: 30px;
  line-height: 25px;
  padding-top: 200px;
}
.sectionFour .autoFill .googleProfile {
  width: 55%;
  height: 70vh;
}
.sectionFour .autoFill .googleProfile #myVideo {
  width: 90%;
  height: 70vh;
  margin-top: -20px;
  margin-left: 90px;
}
.sectionFour .workBetter {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 60px;
  display: flex;
}
.sectionFour .workBetter .googleImport {
  width: 38%;
  height: 70vh;
  color: #202124;
}
.sectionFour .workBetter .googleImport p {
  padding-left: 30px;
  line-height: 25px;
  padding-top: 200px;
}
.sectionFour .workBetter .googleProfile {
  width: 55%;
  height: 70vh;
}
.sectionFour .workBetter .googleProfile #myVideo {
  width: 90%;
  height: 70vh;
  margin-top: -20px;
  margin-left: 90px;
}

.readyReply {
  width: 100%;
  height: 70vh;
  position: relative;
  top: 500px;
}
.readyReply .profileGoogle {
  width: 40%;
  height: 200px;
  position: absolute;
  top: 90px;
  left: 480px;
}
.readyReply .profileGoogle img {
  margin-left: 100px;
}
.readyReply .profileGoogle h1 {
  font-size: 58px;
  font-weight: 600;
  margin-top: -20px;
  color: #202124;
  font-weight: 500;
}
.readyReply p {
  width: 54%;
  padding-top: 370px;
  margin-left: 310px;
  text-align: center;
  color: #202124;
  font-size: 16px;
  line-height: 26px;
}

.sectionFive {
  width: 100%;
  height: 70px;
  position: relative;
  top: 570px;
}
.sectionFive .topSection {
  width: 95%;
  height: 50px;
  position: absolute;
  left: 30px;
  display: flex;
}
.sectionFive .topSection .divOne {
  width: 33.33%;
  height: 5px;
  background: rgba(128, 128, 128, 0.334);
  margin-top: 40px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
}
.sectionFive .topSection .divOne:focus {
  background: #3991df;
}
.sectionFive .topSection .divOne:focus:hover {
  color: #3991df;
}
.sectionFive .topSection .divOne p {
  margin-top: -40px;
  font-size: 16px;
  font-weight: 500;
}
.sectionFive .autoFill {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 60px;
  display: flex;
}
.sectionFive .autoFill .googleInfo {
  width: 38%;
  height: 70vh;
  color: #202124;
}
.sectionFive .autoFill .googleInfo p {
  padding-left: 30px;
  line-height: 25px;
  padding-top: 200px;
}
.sectionFive .autoFill .googleProfile {
  width: 55%;
  height: 70vh;
}
.sectionFive .autoFill .googleProfile #myVideo {
  width: 90%;
  height: 70vh;
  margin-top: -20px;
  margin-left: 90px;
}
.sectionFive .workBetter {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 60px;
  display: flex;
}
.sectionFive .workBetter .googleImport {
  width: 38%;
  height: 70vh;
  color: #202124;
}
.sectionFive .workBetter .googleImport p {
  padding-left: 30px;
  line-height: 25px;
  padding-top: 200px;
}
.sectionFive .workBetter .googleProfile {
  width: 55%;
  height: 70vh;
}
.sectionFive .workBetter .googleProfile #myVideo {
  width: 90%;
  height: 70vh;
  margin-top: -20px;
  margin-left: 90px;
}

.readyEmply {
  width: 100%;
  height: 83vh;
  position: relative;
  top: 65rem;
}
.readyEmply .profileGoogle {
  width: 60%;
  height: 200px;
  position: absolute;
  top: 90px;
  left: 440px;
}
.readyEmply .profileGoogle img {
  margin-left: 150px;
}
.readyEmply .profileGoogle h1 {
  margin-left: -80px;
  font-size: 58px;
  margin-top: -20px;
  color: #202124;
  font-weight: 500;
}
.readyEmply p {
  width: 54%;
  padding-top: 420px;
  margin-left: 310px;
  text-align: center;
  color: #202124;
  font-size: 16px;
  line-height: 26px;
}

.sectionSix {
  width: 100%;
  height: 70px;
  position: relative;
  top: 70rem;
}
.sectionSix .topSection {
  width: 95%;
  height: 50px;
  position: absolute;
  left: 30px;
  display: flex;
}
.sectionSix .topSection .divOne {
  width: 33.33%;
  height: 5px;
  background: rgba(128, 128, 128, 0.334);
  margin-top: 40px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
}
.sectionSix .topSection .divOne:focus {
  background: #3991df;
}
.sectionSix .topSection .divOne:focus:hover {
  color: #3991df;
}
.sectionSix .topSection .divOne p {
  margin-top: -40px;
  font-size: 16px;
  font-weight: 500;
}
.sectionSix .autoFill {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 60px;
  display: flex;
}
.sectionSix .autoFill .googleInfo {
  width: 38%;
  height: 70vh;
  color: #202124;
}
.sectionSix .autoFill .googleInfo p {
  padding-left: 30px;
  line-height: 25px;
  padding-top: 200px;
}
.sectionSix .autoFill .googleProfile {
  width: 55%;
  height: 70vh;
}
.sectionSix .autoFill .googleProfile #myVideo {
  width: 90%;
  height: 70vh;
  margin-top: -20px;
  margin-left: 90px;
}
.sectionSix .workBetter {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 60px;
  display: flex;
}
.sectionSix .workBetter .googleImport {
  width: 38%;
  height: 70vh;
  color: #202124;
}
.sectionSix .workBetter .googleImport p {
  padding-left: 30px;
  line-height: 25px;
  padding-top: 200px;
}
.sectionSix .workBetter .googleProfile {
  width: 55%;
  height: 70vh;
}
.sectionSix .workBetter .googleProfile #myVideo {
  width: 90%;
  height: 70vh;
  margin-top: -20px;
  margin-left: 90px;
}

.beforDiv {
  width: 100%;
  height: 85vh;
  position: absolute;
  margin-top: 35rem;
}
.beforDiv .middleDiv {
  width: 50%;
  height: 100px;
  position: absolute;
  margin-top: 60px;
  margin-left: 340px;
  text-align: center;
}
.beforDiv .middleDiv h1 {
  font-size: 55px;
  font-weight: 500;
  color: #202124;
}
.beforDiv .middleDiv .goTo {
  padding: 15px;
  border: none;
  background: #027cff;
  border-radius: 5px;
  margin-top: 20px;
}
.beforDiv .middleDiv .goTo a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.beforDiv .middleDiv .goTo:hover {
  background: rgb(1, 1, 69);
}
.beforDiv .middleDiv .creatAcc {
  padding: 15px;
  border: none;
  background: white;
  border-radius: 5px;
  margin-top: 20px;
}
.beforDiv .middleDiv .creatAcc a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

footer {
  background-color: rgba(200, 195, 195, 0.133);
  display: flex;
  height: 15vh;
  padding-top: 7vh;
  width: 100%;
  position: absolute;
  top: 165vh;
}
footer li {
  list-style-type: none;
  margin-left: 30px;
}
footer li a {
  text-decoration: none;
  color: grey;
  font-family: "Product Sans", Arial, Helvetica, sans-serif;
}
footer .Leftfoot {
  display: flex;
  margin-left: 100px;
}
footer .Leftfoot li a {
  font-size: 16px;
}
footer .Leftfoot .google1 {
  margin-top: -10px;
}
footer .Leftfoot .google {
  font-size: 26px;
  color: rgba(36, 35, 35, 0.589);
  font-weight: 550;
  margin-right: 15px;
}
footer .Rightfoot {
  margin-left: 450px;
  font-size: 16px;
  display: flex;
}
footer .Rightfoot button {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
footer .Rightfoot .select {
  display: flex;
  margin-left: 15px;
  height: 35px;
}
footer .Rightfoot select {
  border: none;
  margin-top: -14px;
  padding-left: 5px;
  background-color: transparent;
  padding-right: 5px;
  color: rgb(31, 30, 30);
  font-size: 16px;
}
footer .Rightfoot select option:focus {
  border: none;
  color: grey;
}
footer .Rightfoot select:focus {
  border: none;
  background-color: rgba(200, 195, 195, 0.133);
}

@media (min-width: 1200px) {
  .googleWorks {
    width: 100%;
    height: 85vh;
    display: flex;
  }
  .googleWorks .googleInfo {
    width: 40%;
    height: 85vh;
    color: #202124;
  }
  .googleWorks .googleInfo h1 {
    font-size: 62px;
    margin-top: 145px;
    padding-left: 70px;
    font-weight: 600;
  }
  .googleWorks .googleInfo p {
    padding-left: 70px;
    line-height: 25px;
    margin-top: 20px;
  }
  .googleWorks .googleProfile {
    width: 60%;
    height: 85vh;
  }
  .googleWorks .googleProfile #myVideo {
    height: 85vh;
    filter: 2px;
  }
  .mainBar {
    width: 100%;
    height: 48vh;
    margin-top: 3px;
    display: flex;
  }
  .mainBar h2, .mainBar .colorDiv, .mainBar .colorDi, .mainBar .colorD, .mainBar p {
    margin-left: 60px;
    margin-top: 10px;
  }
  .mainBar p {
    line-height: 25px;
  }
  .mainBar h2 {
    font-size: 25px;
    color: #202124;
    font-weight: 400;
    margin-top: 70px;
  }
  .mainBar .helpYou {
    width: 33.34%;
    height: 48vh;
    border: 1px solid #E0E0E0;
    background: rgba(208, 208, 208, 0.201);
    color: #202124;
  }
  .mainBar .helpYou .colorDiv {
    width: 35px;
    height: 5px;
    background: #027cff;
  }
  .mainBar .buildYou {
    width: 33.34%;
    height: 48vh;
    border: 1px solid #E0E0E0;
    background: rgba(208, 208, 208, 0.201);
    color: #202124;
  }
  .mainBar .buildYou .colorDi {
    width: 35px;
    height: 5px;
    background: yellow;
  }
  .mainBar .protectYou {
    width: 33.34%;
    height: 48vh;
    border: 1px solid #E0E0E0;
    background: rgba(208, 208, 208, 0.201);
    color: #202124;
  }
  .mainBar .protectYou .colorD {
    width: 35px;
    height: 5px;
    background: green;
  }
  .mainBar .protectYou .arrowDown {
    width: 60px;
    height: 60px;
    background: #027cff;
    border-radius: 40px;
    margin-top: -255px;
    margin-left: 360px;
    box-shadow: 3px 0px solid rgba(0, 0, 255, 0.216);
  }
  .mainBar .protectYou i {
    color: white;
    margin-top: 18px;
    margin-left: 16px;
    font-size: 27px;
  }
  .readyTo {
    width: 100%;
    height: 83vh;
    position: relative;
  }
  .readyTo .profileGoogle {
    width: 40%;
    height: 200px;
    position: absolute;
    top: 90px;
    left: 480px;
  }
  .readyTo .profileGoogle img {
    margin-left: 100px;
  }
  .readyTo .profileGoogle h1 {
    font-size: 58px;
    font-weight: 600;
    margin-top: -20px;
    color: #202124;
    font-weight: 500;
  }
  .readyTo p {
    width: 54%;
    padding-top: 370px;
    margin-left: 310px;
    text-align: center;
    color: #202124;
    font-size: 16px;
    line-height: 26px;
  }
  .sectionFour {
    width: 100%;
    height: 70px;
    position: relative;
  }
  .sectionFour .topSection {
    width: 95%;
    height: 50px;
    position: absolute;
    left: 30px;
    display: flex;
  }
  .sectionFour .topSection .divOne {
    width: 33.33%;
    height: 5px;
    background: rgba(128, 128, 128, 0.334);
    margin-top: 40px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
  }
  .sectionFour .topSection .divOne:focus {
    background: #3991df;
  }
  .sectionFour .topSection .divOne:focus:hover {
    color: #3991df;
  }
  .sectionFour .topSection .divOne p {
    margin-top: -40px;
    font-size: 16px;
    font-weight: 500;
  }
  .sectionFour .autoFill {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 60px;
    display: flex;
  }
  .sectionFour .autoFill .googleInfo {
    width: 38%;
    height: 70vh;
    color: #202124;
  }
  .sectionFour .autoFill .googleInfo p {
    padding-left: 30px;
    line-height: 25px;
    padding-top: 200px;
  }
  .sectionFour .autoFill .googleProfile {
    width: 55%;
    height: 70vh;
  }
  .sectionFour .autoFill .googleProfile #myVideo {
    width: 90%;
    height: 70vh;
    margin-top: -20px;
    margin-left: 90px;
  }
  .sectionFour .workBetter {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 60px;
    display: flex;
  }
  .sectionFour .workBetter .googleImport {
    width: 38%;
    height: 70vh;
    color: #202124;
  }
  .sectionFour .workBetter .googleImport p {
    padding-left: 30px;
    line-height: 25px;
    padding-top: 200px;
  }
  .sectionFour .workBetter .googleProfile {
    width: 55%;
    height: 70vh;
  }
  .sectionFour .workBetter .googleProfile #myVideo {
    width: 90%;
    height: 70vh;
    margin-top: -20px;
    margin-left: 90px;
  }
  .readyReply {
    width: 100%;
    height: 70vh;
    position: relative;
    top: 500px;
  }
  .readyReply .profileGoogle {
    width: 40%;
    height: 200px;
    position: absolute;
    top: 90px;
    left: 480px;
  }
  .readyReply .profileGoogle img {
    margin-left: 100px;
  }
  .readyReply .profileGoogle h1 {
    font-size: 58px;
    font-weight: 600;
    margin-top: -20px;
    color: #202124;
    font-weight: 500;
  }
  .readyReply p {
    width: 54%;
    padding-top: 370px;
    margin-left: 310px;
    text-align: center;
    color: #202124;
    font-size: 16px;
    line-height: 26px;
  }
  .sectionFive {
    width: 100%;
    height: 70px;
    position: relative;
    top: 570px;
  }
  .sectionFive .topSection {
    width: 95%;
    height: 50px;
    position: absolute;
    left: 30px;
    display: flex;
  }
  .sectionFive .topSection .divOne {
    width: 33.33%;
    height: 5px;
    background: rgba(128, 128, 128, 0.334);
    margin-top: 40px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
  }
  .sectionFive .topSection .divOne:focus {
    background: #3991df;
  }
  .sectionFive .topSection .divOne:focus:hover {
    color: #3991df;
  }
  .sectionFive .topSection .divOne p {
    margin-top: -40px;
    font-size: 16px;
    font-weight: 500;
  }
  .sectionFive .autoFill {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 60px;
    display: flex;
  }
  .sectionFive .autoFill .googleInfo {
    width: 38%;
    height: 70vh;
    color: #202124;
  }
  .sectionFive .autoFill .googleInfo p {
    padding-left: 30px;
    line-height: 25px;
    padding-top: 200px;
  }
  .sectionFive .autoFill .googleProfile {
    width: 55%;
    height: 70vh;
  }
  .sectionFive .autoFill .googleProfile #myVideo {
    width: 90%;
    height: 70vh;
    margin-top: -20px;
    margin-left: 90px;
  }
  .sectionFive .workBetter {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 60px;
    display: flex;
  }
  .sectionFive .workBetter .googleImport {
    width: 38%;
    height: 70vh;
    color: #202124;
  }
  .sectionFive .workBetter .googleImport p {
    padding-left: 30px;
    line-height: 25px;
    padding-top: 200px;
  }
  .sectionFive .workBetter .googleProfile {
    width: 55%;
    height: 70vh;
  }
  .sectionFive .workBetter .googleProfile #myVideo {
    width: 90%;
    height: 70vh;
    margin-top: -20px;
    margin-left: 90px;
  }
  .readyEmply {
    width: 100%;
    height: 83vh;
    position: relative;
    top: 65rem;
  }
  .readyEmply .profileGoogle {
    width: 60%;
    height: 200px;
    position: absolute;
    top: 90px;
    left: 440px;
  }
  .readyEmply .profileGoogle img {
    margin-left: 150px;
  }
  .readyEmply .profileGoogle h1 {
    margin-left: -80px;
    font-size: 58px;
    margin-top: -20px;
    color: #202124;
    font-weight: 500;
  }
  .readyEmply p {
    width: 54%;
    padding-top: 420px;
    margin-left: 310px;
    text-align: center;
    color: #202124;
    font-size: 16px;
    line-height: 26px;
  }
  .sectionSix {
    width: 100%;
    height: 70px;
    position: relative;
    top: 70rem;
  }
  .sectionSix .topSection {
    width: 95%;
    height: 50px;
    position: absolute;
    left: 30px;
    display: flex;
  }
  .sectionSix .topSection .divOne {
    width: 33.33%;
    height: 5px;
    background: rgba(128, 128, 128, 0.334);
    margin-top: 40px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
  }
  .sectionSix .topSection .divOne:focus {
    background: #3991df;
  }
  .sectionSix .topSection .divOne:focus:hover {
    color: #3991df;
  }
  .sectionSix .topSection .divOne p {
    margin-top: -40px;
    font-size: 16px;
    font-weight: 500;
  }
  .sectionSix .autoFill {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 60px;
    display: flex;
  }
  .sectionSix .autoFill .googleInfo {
    width: 38%;
    height: 70vh;
    color: #202124;
  }
  .sectionSix .autoFill .googleInfo p {
    padding-left: 30px;
    line-height: 25px;
    padding-top: 200px;
  }
  .sectionSix .autoFill .googleProfile {
    width: 55%;
    height: 70vh;
  }
  .sectionSix .autoFill .googleProfile #myVideo {
    width: 90%;
    height: 70vh;
    margin-top: -20px;
    margin-left: 90px;
  }
  .sectionSix .workBetter {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 60px;
    display: flex;
  }
  .sectionSix .workBetter .googleImport {
    width: 38%;
    height: 70vh;
    color: #202124;
  }
  .sectionSix .workBetter .googleImport p {
    padding-left: 30px;
    line-height: 25px;
    padding-top: 200px;
  }
  .sectionSix .workBetter .googleProfile {
    width: 55%;
    height: 70vh;
  }
  .sectionSix .workBetter .googleProfile #myVideo {
    width: 90%;
    height: 70vh;
    margin-top: -20px;
    margin-left: 90px;
  }
  .beforDiv {
    width: 100%;
    height: 85vh;
    position: absolute;
    margin-top: 35rem;
  }
  .beforDiv .middleDiv {
    width: 50%;
    height: 100px;
    position: absolute;
    margin-top: 60px;
    margin-left: 340px;
    text-align: center;
  }
  .beforDiv .middleDiv h1 {
    font-size: 55px;
    font-weight: 500;
    color: #202124;
  }
  .beforDiv .middleDiv .goTo {
    padding: 15px;
    border: none;
    background: #027cff;
    border-radius: 5px;
    margin-top: 20px;
  }
  .beforDiv .middleDiv .goTo a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }
  .beforDiv .middleDiv .goTo:hover {
    background: rgb(1, 1, 69);
  }
  .beforDiv .middleDiv .creatAcc {
    padding: 15px;
    border: none;
    background: white;
    border-radius: 5px;
    margin-top: 20px;
  }
  .beforDiv .middleDiv .creatAcc a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }
}/*# sourceMappingURL=account.css.map */